<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
      <!-- <span class="text-muted fw-light">Tables /</span> Basic Tables -->
    </h4>
    <button type="button" class="btn btn-primary">
      <a [routerLink]="['/admin/add-combo']" style="color: white">Thêm combo</a>
    </button>

    <br /><br />
    <!-- Basic Bootstrap Table -->
    <div class="card">
      <h5 class="card-header">Danh sách thể loại</h5>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>Thể loại</th>
              <th>Ngày tạo</th>
              <th>Trạng thái</th>
              <th>Hành động</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <ng-container *ngFor="let combo of combos">
              <tr>
                <th>{{ combo.name }}</th>
                <th>{{ combo.price }}</th>
                <th>{{ combo.status ? "Hoạt động" : "Không hoạt động" }}</th>
                <th>
                  <button
                    (click)="confirmDelete(combo.id)"
                    type="button"
                    class="btn rounded-pill btn-icon btn-outline-primary"
                  >
                    <span class="tf-icons bx bx-x"></span>
                  </button>
                  |
                  <button
                    type="button"
                    class="btn rounded-pill btn-icon btn-outline-primary"
                  >
                    <span class="tf-icons bx bx-edit"></span>
                  </button>
                </th>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Basic Bootstrap Table -->

    <!-- / Footer -->

    <div class="content-backdrop fade"></div>
  </div>
</div>
