<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
    

      <!-- Basic Layout -->
      <div class="row">
       
            <div class="col-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Sửa Suất Chiếu</h5>
            
                </div>
                <div class="card-body">
                    <form [formGroup]="editShowtimeForm"  (ngSubmit)="edit()">
                    <div class="mb-3">
                    <label class="form-label" for="basic-default-fullname">Nhập Suất Chiếu</label>
                    <br>
                    <p-calendar dateFormat="dd/mm/yy" formControlName="showDate"  [showTime]="true" [showSeconds]="true"></p-calendar>


                    <div *ngIf="editShowtimeForm.get('name')?.invalid && editShowtimeForm.get('showDate')?.touched">
                        <small *ngIf="editShowtimeForm.get('showDate')?.errors?.['required']">Suất Chiếu Là Bắt Buộc </small>
                      </div>
                    </div>
                    <div class="mb-3">
                    <label class="form-label" for="basic-default-company">Chọn rạp</label>
                   
                    <select id="defaultSelect" class="form-select" (change)="updateRoom1($event)" formControlName="cinemaId" >
                        <ng-container *ngFor="let cinema of cinemas" >
                            <option  value="{{cinema.id}}">{{cinema.name}}</option>
                        </ng-container>
                       
                    
                    </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-company">Chọn Phòng</label>
                        <select id="defaultSelect" class="form-select" formControlName="roomId" >
    
                            <option *ngFor="let room of rooms"  value="{{room.id}}">{{room.name}}</option>
                        
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-company">Chọn Phim</label>
                        <select id="defaultSelect" class="form-select" formControlName="movieId" >
    
                            <option *ngFor="let movie of movies"  value="{{movie.id}}">{{movie.title}}</option>
                        
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-company">Chọn Loại Phụ Đề</label>
                        <select id="defaultSelect" class="form-select" formControlName="subId" >
    
                            <option *ngFor="let sub of subs"  value="{{sub.id}}">{{sub.name}}</option>
                        
                        </select>
                    </div>
                    
                
                    <button type="submit" class="btn btn-primary">Cập Nhật Suất</button>
                </form>
                </div>
            </div>
            </div>
        
      </div>
    </div>
    <!-- / Content -->

   

    <div class="content-backdrop fade"></div>
  </div>
  <p-toast></p-toast>