<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">

    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Quản Lí /</span> Tài khoản</h4>
    <button type="button" class="btn btn-primary">Thêm Tài Khoản Mới</button>

    <br><br>
    <!-- Basic Bootstrap Table -->
    <div class="card">
      <h5 class="card-header">Danh sách tài khoản</h5>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Tên tài khoản</th>
              <th>Ngày tạo</th>
              <th>SĐT</th>
              <th>Email</th>
                <th>Trạng Thái</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <ng-container *ngFor="let a of accounts">
              <tr>
                <th>{{a.id}}</th>
                <th>{{a.username}}</th>
                <th>{{a.created}}</th>
                <th>{{a.phone}}</th>
                <th>{{a.email}}</th>
                <th>{{a.verify == 0 ? 'Hoạt động' : 'Không hoạt động'}}</th>
                <th>
                  <button type="button" class="btn rounded-pill btn-icon btn-outline-primary">
                    <span class="tf-icons bx bx-x"></span>

                  </button> |
                  <button type="button" class="btn rounded-pill btn-icon btn-outline-primary">
                    <span class="tf-icons bx bx-edit"></span>

                  </button>
                </th>
              </tr>
            </ng-container>

          </tbody>
        </table>
      </div>
    </div>
    <!--/ Basic Bootstrap Table -->



    <!-- / Footer -->

    <div class="content-backdrop fade"></div>
  </div>